<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="style.css" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800,900|Titillium+Web:300,400,600,700,900" rel="stylesheet">
</head>

<body>
	<header>
    	<div class="container">
            <div id="masthead">
                <div class="clear">
                    <p class="col-6"><label>Program ID:</label>&nbsp;<span>FRD_12191_AW</span></p>
                    <p class="col-6 text-right"><label>Document Level:</label>&nbsp;<span>v1.1 03/12/2017</span></p>
                </div>
            </div>
        </div>
    </header>
    <div id="main">
    	<div id="content">
            <section>
            	<div class="container">
                	<h2 class="section-title">Product Characteristics:</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper, sem ac vehicula porttitor, quam lorem malesuada dui, in facilisis turpis ex venenatis arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. In in dapibus odio. Vivamus maximus quam tortor. In hendrerit ex et enim luctus, a fringilla lacus laoreet. Integer laoreet, velit id tincidunt rhoncus, quam neque hendrerit ipsum, feugiat iaculis tortor augue ac libero. Ut auctor purus sit amet lacus fermentum, eget lobortis nibh suscipit. Morbi tincidunt rhoncus magna et aliquet. Sed pellentesque consectetur sodales. Maecenas sit amet dignissim ex.</p>
				</div>
                <div class="container">
	                <h2 class="section-title">Product Information | Images</h2>
                	<img src="images/img1.jpg" alt="image"><br><br><img src="images/img2.jpg" alt="image">
            	</div>
            </section>
            
        </div>
    </div>
    <footer>
    	<div class="container">
        	<div class="clear">
                <div class="col-4">DOCUMENTBARCODEGOESHERE</div>
                <div class="col-4 text-center">Statement goes here</div>
                <div class="col-4 text-right">Page #/##</div>
            </div>
        </div>
    </footer>
</body>
</html>
